# Default ignored files
/shelf/
/workspace.xml
/exchange_bot.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/dataSources/f0779621-a61b-4d24-824b-3042172e50b2/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/dataSources/05ef6c0b-fa9e-4eed-9dbf-378b2e85d0f6/storage_v2/_src_/schema/mysql.osA4Bg.meta
/dataSources/f0779621-a61b-4d24-824b-3042172e50b2/storage_v2/_src_/schema/s27820_exchanger_bot.NpHFJQ.meta
/dataSources/05ef6c0b-fa9e-4eed-9dbf-378b2e85d0f6/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/dataSources/05ef6c0b-fa9e-4eed-9dbf-378b2e85d0f6/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/dataSources/05ef6c0b-fa9e-4eed-9dbf-378b2e85d0f6.xml
/dataSources/05ef6c0b-fa9e-4eed-9dbf-378b2e85d0f6/storage_v2/_src_/schema/sys.zb4BAA.meta
/sqldialects.xml
/dataSources/f0779621-a61b-4d24-824b-3042172e50b2.xml
/dataSources/05ef6c0b-fa9e-4eed-9dbf-378b2e85d0f6/storage_v2/_src_/schema/exchanger_bot.N_RbUw.meta
/dataSources.xml
/dataSources.local.xml
